TIKTOK_API_BASE_URL=https://open-api.tiktokglobalshop.com
TIKTOK_ACCESS_TOKEN=
TIKTOK_REFRESH_TOKEN=
TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=
TIKTOK_ORDER_EVENT_NAME=tt_order_status_change
TIKTOK_MERCHANT_ID=
TIKTOK_APP_KEY=
TIKTOK_APP_SECRET=
TIKTOK_SHOP_CIPHER=
TIKTOK_SHOP_ID=
TIKTOK_API_VERSION=202502
TIKTOK_SEARCH_PRODUCTS_PATH=/product/202502/products/search
SHOPIFY_STORE_DOMAIN=your-store.myshopify.com
SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_SCOPES=read_products,read_inventory,write_inventory,read_locations
SHOPIFY_ADMIN_ACCESS_TOKEN=
SHOPIFY_LOCATION_ID=
SHOPIFY_WEBHOOK_SECRET=
DEFAULT_BUFFER_QUANTITY=2
